@import url('https://fonts.googleapis.com/css/?family=Poppins:400,500,700&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}
body{
    margin: 30px;
}
.home-tag{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
::selection{
    background: black;
    color: #000000;
}
.tittle{
    border-radius: 15px,
}
.wrapper{
    margin: auto;
    overflow: hidden;
    max-width: 390px;
    align-items: center;
    border-color: black;
    border: 3px solid black;
    padding:30px;
    width: 400px;
    border-radius: 15px;
    background: rgb(58, 58, 58);
    box-shadow: 0px 15px 20px rgba(0,0,0,1);
}
.wrapper .title-text{
    display: flex;
    width: 200%;
}
.wrapper .title{
    width: 50%;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px, 15px, 0px, 0px;
    font-size: 30px;
    font-weight: 600;
    transition: all 0.6s cubic-bezier(0.68,-0.55, 0.265, 1.55);
}

.wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border: 2px solid rgb(255, 254, 254);
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border-radius: 15px;
}

.slide-controls .slide{
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide-controls label .daftar{
    color: black;
}

.slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: #000000;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"]{
    display: none;
}
#signup:checked ~ .slider-tab{
    left: 50%;
}
#signup:checked ~ label .login{
    color: #000000;
}
#login:checked ~ label .daftar{
    color: #000000;
}
#login:checked ~ label .login{
    cursor: default;
    user-select: none;
}

.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner{
    display: flex;
    width: 200%;
}

.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.form-inner form .field input:focus{
    border-color: #000000;
}
.form-inner form .field input::placeholder{
    color: gray;
    transition: all 0.4s ease;
}
form .field input:focus::placeholder{
    color: #000000;
}
.form-inner form .pass-link{
    margin-top: 5px;
}
.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form.signup-link a{
    color: #ffffff;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form.signup-link a:hover{
    text-decoration: underline;
}

form .btn{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
form .btn .btn-layer{
    position: absolute;
    background: #000000;
    border-radius: 20px;
}
form .btn:hover .btn-layer{
    transition: all 0.4s ease-in;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
}
form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    position: relative;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-left: 0;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
.wrapper form{
    padding: 10px 30px 50px 30px;
}

.wrapper form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.wrapper form .field input{
    background-color: #ffffff;
    color: black;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 20px;
    outline: none;
    font-size: 17px;
    transition: all 0.3s ease;
}
.wrapper form .field input:hover{
    background-color: #c8c8c8;
}
.wrapper form .field input:focus ~label,
.wrapper form .field input:valid ~ label{
    top: 0%;
    font-size: 16px;
    transform: translateY(-110%);
}
.wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: black;
    font-size: 17px;
    color: #000000;
    pointer-events: none;
    transition: all 0.3s ease;
}
.button{
    border: #4158d0;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 82, 245);
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.pass-link {
    margin-top: 40px;
    color: white;
    margin-left: 20px;
    font-size: 17px;
    text-decoration: none;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap:wrap-reverse;
    max-width: auto;
    margin-top: 50px;
}
.row .col h1{
    text-align: center;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.row .col p{
    font-family: 'poppins';
    text-align: justify;
    font-size: 20px;
}
.row .col img{
    width: 40rem;
    height: 200px;
}
footer {
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
}

.footer {
    justify-content: space-evenly;
    background-color: rgb(58, 58, 58);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

}

.footer .footer-left {
    margin-left: 22px;
    width: 30%;
    display: flexbox;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img {
    width: 100%;
    margin-right: 1px;
    vertical-align: middle;
}

.footer .footer-left .credit-cards {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    gap: 50px;
}

.footer .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    margin-bottom: -10px;
    padding-top: 50px;
}

.footer .footer-center {
    margin-top: 50px;
    width: 27%;
    margin-left: 150px;    
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(22, 255, 177);
    text-decoration: none;
}

.footer .footer-right {
    margin-top: 50px;
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(0, 122, 82);
}

@media (max-width: 880px) {

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

}
.card-container{
    position: relative;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card{
    align-items: center;
    justify-items: center;
    width: 250px;
    height: 450px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 15px 20px rgba(0,0,0,1);
    margin: 20px;
}
.card img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}
.card-content{
    padding: 16px;
}

.card-content h3{
    margin: 5px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.card-content p{
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.card-content .btn{
    align-content: center;
    padding: 8px 16px;
    background-color: yellow;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 45px;
}
.afooter{
    margin: 30px;
}
.afooter h1{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.bfooter{
    padding: 20px;
    display: flex;
    flex-flow:column;
    flex-direction: row;
}

.bfooter .icon{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 35px;
    width: 100%;
    margin: 20px;
}
.bfooter img{
    background-color: rgb(197, 197, 197);
    margin-left: 70px;
    border-radius: 20px;
    align-content: center;
    margin-bottom: 20px;
}
.bfooter h3{
    float: left;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.bfooter p{
    float:right;
    overflow: hidden;
    margin: 0;
    text-align: start;

}

.slider-container{
    margin: auto;
    align-items: center;
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: aqua;
}
.imgslide-fade{
    display: flex;
}
.imgslide-fade > img{
    vertical-align: middle;
    width: auto;
    height: 300px;
}

.prev{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black;
}

.next{
    right: 0;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: white;
    color: black;
}

.nav-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
}

.nav-btn:hover{
    background-color: #000000;
}

.nav-btn::before, .nav-btn::after{
    font-size: 25px;
    color: wheat;
}
.swiper-button-next{
    right: 50px;
}
.slider{
    width: 830px;
    max-width: fit-content;
    height: 500px;
    margin: auto;
    align-items: center;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
.list{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    width: max-content;
    transition: all 1s ease-in-out;
}
.list img{
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;    
}
.buttons button{
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.712);
    color: white;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.buttons button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 20px;
}

.btn:hover{
    background-color: blue;
    color: yellow;
    transition: all 0.3s ease;

}
.thumbnail-container{
    margin: 50px;
    position:relative;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.thumbnail-card{
    justify-content: space-between;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.grid{
    width: 500px;
    height: 250px;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 100px;
}
.grid img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid h3{
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: yellow;
    font-weight: bold;
}

.grid a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: 600;
    padding: 10px;
    margin-left: 160px;
    border-radius: 20px;
}
.grid a:hover{
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
}
.keterangan{
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    color: black;
}
.thumbnail {
    justify-content: center;
    margin: auto;
    margin-bottom: 0px;
}

.detail-container{
    margin: 20px 20px 20px 20px;
    display: flex;
}

.detail-container img{
    width: 300px;
    height: 300px;
    margin: 50px 50px;
}
.detail-keterangan h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.detail-keterangan h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.size{
    font-size: 15px;
}
.radio{
 display: none;
}
.submit{
    padding: 10px;
    width: 235px;
    background-color: yellow;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
.label{
 padding: 10px;
 width: 50px;
 background-color: white;
 color: black;
 cursor: pointer;
 font-size: 14px;
}
.label:hover{
    cursor: pointer;
    background-color:gray;
}
.submit:hover{
    cursor: pointer;
    transition: all 0.3s ease-in;
    background-color:  rgb(154, 154, 12);
}
#option1:checked ~ .label-1,
#option2:checked ~ .label-2,
#option3:checked ~ .label-3,
#option4:checked ~ .label-4,
#option5:checked ~ .label-5,
#option6:checked ~ .label-6
{
 background-color: gray;
}
.detail-keterangan p{
    text-align: justify;
}
.jumlah{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    width: 80px;
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.jumlah span{
    color: black;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.jumlah span.num{
    font-size: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.produk-container{
    background-color: #24262b;
}
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .slider{
        height: 400px;
    }
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.round-image {
    width: 50px; /* Sesuaikan dengan ukuran yang diinginkan */
    height: 50px; /* Sesuaikan dengan ukuran yang diinginkan */
    border-radius: 50%; /* Mengatur sudut border-radius menjadi 50% untuk membuat gambar berbentuk bulat */
    overflow: hidden; /* Mengatasi gambar yang mungkin melebihi batas lingkaran */
  }
  .round-image img {
    width: auto; /* Mengisi konten gambar secara penuh */
    height: auto; /* Mengatur tinggi gambar agar proporsional */
    display: block; /* Menghilangkan whitespace di sekitar gambar */
    object-fit: cover;
  }